<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Jobs!</title>
    <script src="https://unpkg.com/feather-icons"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
 <nav>
    <ul>
        <li><a class="active" href="/jobsearch">Jobs!</a></li>
        <li><input class="search" type="text" name="search" placeholder="Search.."></li>
        <li><a href="/about">About</a></li>
        <li><a href="/companyreviews">Company Reviews</a></li>
    </ul>
</nav>

<div class="container">
    <div class="content content-left"></div>
    <div class="content content-right"></div>
</div>

<template id="positions">
    {{#each positions}}
    <div class="row" data-id="{{id}}">
        <p class="meta">{{convertDate created_at}}</p>
        <a class="jobtitle"><b>{{title}}</b></a>
        <p class="location"><i class='icon' data-feather='map-pin'></i>{{location}}</p>
        <p class="company"><i class='icon' data-feather='briefcase'></i>{{company}}</p>
        <p class="description">{{{trim description}}}</p>
        <p></p>
    </div>
    {{/each}}
</template>

<template id="position">
    <div class="row" data-id="{{id}}">
        <span class='x' data-feather='x-circle'></span>
        <p class="meta">{{convertDate created_at}}</p>
        <a class="jobtitle"><b>{{title}}</b></a>
        <p class="location"><i class='icon' data-feather='map-pin'></i>{{location}}</p>
        <p class="company"><i class='icon' data-feather='briefcase'></i>{{company}}</p>
        <p class="description">{{{description}}}</p>
        <h2 >Apply:</h2>
        <form class="apply" action="/apply" method="POST">
            <input type="hidden" name="position_id" value="{{id}}">
            <input name="first_name" placeholder="First name">
            <input name="last_name" placeholder="Last name">
            <input type="number" min="1" name="years_experience" placeholder="Years experience">
            <input name="expertise" placeholder="Expertise">
            <input type="submit" value="Apply">
        </form>
        <p class="message"></p>
    </div>
</template>

<div class="footer">
    Copyright &copy; 2018 Finneas Buick.
</div>

<!-- load javascript libraries -->
<script src="/static/js/jquery-3.3.1.min.js"></script>
<script src="/static/js/handlebars.min.js"></script>

<!-- load project javascript -->
<!-- note that you can add more modules if you wish -->
<script src="/static/js/script.js"></script>
<script src="static/js/model.js"></script>

</body>
</html>