<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs!</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Jobs!</title>
    <script src="https://unpkg.com/feather-icons"></script>
</head>
<body>
     <nav>
            <ul>
                <li><a class="active" href="/jobsearch">Jobs!</a></li>
                <li><input class="search" type="text" name="search" placeholder="Search.."></li>
                <li><a href="/about">About</a></li>
                <li><a href="/companyreviews">Company Reviews</a></li>
            </ul>
        </nav>

    <div class="container">
        <div class="content content-left"></div>
        <div class="content content-right"></div>
    </div>

    <div class="footer">
        Copyright &copy; 2018 Finneas Buick.
    </div>

    <!--<form action="/apply" method="POST">
        <input name="first_name" placeholder="first name">
        <input name="last_name" placeholder="last name">
        <input name="position_id" placeholder="position id">
        <input name="years_experience" placeholder="years experience">
        <input name="expertise" placeholder="expertise">
        <input type="submit">
    </form>-->


    <!-- load javascript libraries -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/handlebars.min.js"></script>
    
    <!-- load project javascript -->
    <!-- note that you can add more modules if you wish -->
    <script src="/static/js/script.js"></script>
    <script src="static/js/model.js"></script>

</body>
</html>