/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Your Name                     */

html {
    background-color: #c7c7c7;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}


nav {
	position: fixed;
	top: 0;
	width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#546e7a;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


nav li a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.25em;
}

nav form input[type=text] {
    float: right;
    color: black;
}

nav form input[type=submit] {
    float: right;
    display: block;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 3px;
}

nav form input[type=submit]:hover {
    background-color: lightgrey;
}

nav li a:hover {
	background-color: #29434e;
}

nav .selected {
	background-color: #29434e;
}

input {
	display: block;
	padding: 8px;
    margin: 8px 5px;
    border: 1px solid grey;
    font-size: 15px;
    border-radius: 3px;
}

.text-area {
	display: block;
	padding: 8px;
    margin: 8px 5px;
    border: 1px solid grey;
    font-size: 15px;
    border-radius: 3px;
    width: 90%;
}

nav p {
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    color: white;
	text-align: center;
	padding-right: 10px;
	font-size: .8em;
}

.search {
	float: left;
}

.login {
	float: right;
}

button {
	display: block;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 3px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 40px;
    overflow: hidden;
}

.row {
	background-color: white;
	padding: 20px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row:hover {
	background-color: #ededed;
}

.jobtitle {
	font-size: 1.25em;
	border-bottom: 1px solid lightgrey;
	padding-bottom: 5px;
}


.icon {
	margin-right: 5px;
}

.meta {
	font-size: 0.8em;
	padding: 0;
    float: right;
    color: grey;
}

.readmore {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 80px;
    background-color: buttonface;
	display: block;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 14px;
    border-radius: 3px;
}

.readmore:hover {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
}

label {
    text-align: left;
    float: left;
    clear: both;
    margin-right: 15px;
}

.footer {
	padding: 50px;
	text-align: center;
}

.x {
    float: right;
    overflow: hidden;
    margin: 10px;
}